.comment {
    background: #fff8f0;
    padding: 1rem;
    max-width: 40vw;
    border-radius: 2rem;
    margin-bottom: 1rem;
}
@media (max-width: 1024px) {
    .comment {
        max-width: 80vw;
    }
}

.comment_title {
    padding-left: 0.5rem;
    color: var(--primary);
}

.comment_body {
    padding-left: 0.5rem;
    color: var(--primary);
}
