.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Убедитесь, что z-index достаточно высок */
}

.modal_content {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
    position: relative;
    border: 1px solid #ccc; /* Добавляем границу */
}

.modal_content_close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 2rem;
    cursor: pointer;
    line-height: 1;
}
